* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --shadow-003: rgba(0, 0, 0, 0.3);
  --button-color: #e67e22;
  --button-text-or-fon-color: #ffffff;
  --black-h: #333333;
  --gray-info: #555555;
  --sec1-fon: #fdf2e9;
  --border-color: #fdf2e9;
  --text-color-orange: #cf711f;
  --big-text-gray: #dddddd;
  --circle-big: #fdf2e9;
  --circle-small: #fae5d3;
  --green-oval: #51cf66;
  --green-oval2:#94D82D;
  --yellow-oval:#FFD43B;
  --otziv-name:#6F6F6F;
  --persik-color:#FDF2E9;
  --best-value-fon:#FFD43B;
  --sec6-text:#45260A;
}

html {
  font-size: 10px;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1;
  color: #333;
  overflow-x: hidden;
}

.container {
  max-width: 130rem;
  height: 57.4rem;
  padding: 0rem 3.2rem 0rem 3.2rem;
  margin: 0 auto;
  gap: 9.6rem;
  position: relative;
}
header {
  width: 192rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4.8rem 0rem 4.8rem;
}
.logo {
  width: 16.3rem;
  height: 2.2rem;
}
.header_right {
  width: 71rem;
  height: 4.2rem;
  display: flex;
  flex-direction: row;
  gap: 4.8rem;
  align-items: center;
}
.headname {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: 0%;
  font-style: normal;
  color: var(--black-h);
  text-decoration: none;
}
button {
  cursor: pointer;
}

.orange_but {
  width: 16.6rem;
  height: 4.2rem;
  border-radius: 0.9rem;
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  background-color: var(--button-color);
  border: none;
  color: var(--button-text-or-fon-color);
  font-style: normal;
}
.grid_sec1 {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 46% 54%;
}
.deliver {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 5.46rem;
  letter-spacing: -0.5px;
  font-style: bold;
  color: var(--black-h);
  margin-top: -0.06rem;
}
.info_delivery {
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--gray-info);
  margin-top: 4.5rem;
}
.sec1_but {
  font-weight: 700;
  font-style: SemiBold;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 1%;
  width: 35.6rem;
  height: 5.2rem;
  margin-top: 5.9rem;
  padding: -0.4rem 3.2rem;
  vertical-align: middle;
}
.healthy_food_dilevery {
  width: 192rem;
  height: 71.8rem;
  padding: 4.8rem 31rem 9.6rem 31rem;
  background-color: var(--sec1-fon);
}
.white_but {
  background-color: var(--button-text-or-fon-color);
  border-radius: 0.9rem;
  border: none;
  width: 19.1rem;
  height: 5.2rem;
  margin-left: 1.6rem;
}
.avatar {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 2.4rem;
  border: 3px solid var(--border-color);
  margin-left: -2rem;
}

.text-color-orange {
  color: var(--text-color-orange);
  font-weight: 600;
  font-style: SemiBold;
}
.sec1_p {
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8rem;
  line-height: 1.8rem;
  vertical-align: middle;
}
.avatar_and_text {
  width: 57rem;
  height: 4.8rem;
  margin-top: 8.6rem;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  align-items: center;
  padding-left: 1.9rem;
}
.img_deliv_grid {
  width: 57rem;
  height: 56.2rem;
}
.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120rem;
  height: 7rem;
  max-width: 120rem;
  padding: 0 3.2rem 0 3.2rem;
  margin-top: 7.6rem;
  margin-left: 36rem;
  gap: 2.4rem;
}
.company_container {
  display: flex;
  flex-direction: row;
  gap: 5.46rem;
  width: 113.6rem;
  height: 3.2rem;
  padding: 0 2.733rem 0 2.733rem;
}
.logos:nth-child(1) {
  width: 22.4rem;
  height: 3.2rem;
  opacity: 50%;
  scale: crop;
}
.logos:nth-child(2) {
  width: 10rem;
  height: 3.2rem;
  opacity: 50%;
  scale: crop;
}
.logos:nth-child(3) {
  width: 24.3rem;
  height: 3.2rem;
  opacity: 50%;
  scale: crop;
}
.logos:nth-child(4) {
  width: 12.2rem;
  height: 3.2rem;
  opacity: 50%;
  scale: crop;
}
.logos:nth-child(5) {
  width: 17.1rem;
  height: 3.2rem;
  opacity: 50%;
  scale: crop;
}
.info_delivery2 {
  font-family: rubik;
  width: 13.5rem;
  height: 1.4rem;
  font-weight: 500;
  font-style: medium;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: 0.075rem;
  vertical-align: middle;
  align-content: center;
  color: var(--gray-info);
}
.text_color_orange2 {
  width: 113.6rem;
  height: 1.6rem;
  font-family: rubik;
  font-weight: 500;
  font-style: medium;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.075rem;
  vertical-align: middle;
  color: var(--text-color-orange);
}
.text_request {
  width: 120rem;
  height: 8.5rem;
  max-width: 120rem;
  padding: 0 3.2rem 0 3.2rem;
  gap: 1.6rem;
}
.h2_request {
  font-family: rubik;
  font-weight: 700;
  font-style: bold;
  font-size: 4.4rem;
  line-height: 5.28rem;
  letter-spacing: -0.05rem;
  vertical-align: middle;
}
.request_text {
  width: 192rem;
  height: 163.922rem;
  margin-top: 8.843rem;
  padding: 8rem 36rem 4.8rem 36rem;
  gap: 9.6rem;
}
.one {
  width: 53.6rem;
  height: 36.4rem;

  margin-left: 3.2rem;
  gap: 1.2rem;
}
.t01 {
  width: 53.6rem;
  height: 8.6rem;
  font-family: rubik;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 8.6rem;
  line-height: 8.6rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--big-text-gray);
}
.deistvie {
  width: 53.6rem;
  height: 7.2rem;
  font-family: rubik;
  font-weight: 700;
  font-style: SemiBold;
  font-size: 3rem;
  line-height: 3.6rem;
  letter-spacing: -0.5;
  vertical-align: middle;
  color: var(--black-h);
}
.poisnenie {
  width: 53.6rem;
  height: 7.2rem;
  font-family: rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--gray-info);
}
.one_phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 53.6rem;
  height: 37.9rem;
}
.phone1 {
  width: 18.7rem;
  height: 37.9rem;
}
.two_phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 53.6rem;
  height: 37.9rem;
}
.phone2 {
  width: 18.7rem;
  height: 37.9rem;
}
.two {
  width: 53.6rem;
  height: 33.2rem;
  gap: 1.2rem;
}
.phone3 {
  width: 18.7rem;
  height: 37.9rem;
}
.thre_phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 53.6rem;
  height: 37.9rem;
}
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 4.44rem/3;
  gap: 10.4rem;
  width: 120rem;
  margin-top: 10rem;
}
.one_phone::before,
.one_phone::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.one_phone::before {
  height: 32rem;
  width: 32rem;
  background-color: var(--circle-big);
  z-index: -2;
  top: 150rem;
  left: 133rem;
}
.one_phone::after {
  height: 24rem;
  width: 24rem;
  background-color: var(--circle-small);
  z-index: -1;
  top: 150rem;
  left: 133rem;
}
.two_phone::before,
.two_phone::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.two_phone::before {
  height: 32rem;
  width: 32rem;
  background-color: var(--circle-big);
  z-index: -2;
  top: 197rem;
  left: 63rem;
}
.two_phone::after {
  height: 24rem;
  width: 24rem;
  background-color: var(--circle-small);
  z-index: -1;
  top: 197rem;
  left: 63rem;
}
.thre_phone::before,
.thre_phone::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.thre_phone::before {
  height: 32rem;
  width: 32rem;
  background-color: var(--circle-big);
  z-index: -2;
  top: 245rem;
  left: 133rem;
}
.thre_phone::after {
  height: 24rem;
  width: 24rem;
  background-color: var(--circle-small);
  z-index: -1;
  top: 245rem;
  left: 133rem;
}
.recept {
  width: 192rem;
  height: 100rem;
  margin-top: 25.7rem;
}
.text_sec3 {
  width: 120rem;
  height: 13.7rem;
  max-width: 120rem;
  margin-top: 9.6rem;
  margin-left: 36rem;
  padding: 0 3.2rem 0 3.2rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.text_color_orange3 {
  height: 1.6rem;
  font-family: rubik;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.07rem;
  color: var(--text-color-orange);
}
.recept_h {
  font-family: rubik;
  font-weight: 700;
  font-style: bold;
  font-size: 4.4rem;
  line-height: 5.28rem;
  letter-spacing: -0.05rem;
  color: var(--black-h);
}
.carts {
  width: 130rem;
  height: 50.6rem;
  max-width: 130rem;
  margin-top: 15rem;
  margin-left: 24rem;
  padding: 0 3.2rem 0 3.2rem;
  gap: 5.4rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.first_cart:nth-child(1) {
  box-shadow: 0rem 2.4rem 4.8rem 0rem #00000013;
  width: 33.6rem;
  height: 50.6rem;
  opacity: 1;
  gap: 0.2rem;
  border-radius: 1.1rem;
  background-color: var(--button-text-or-fon-color);
}
.first_cart:nth-child(2) {
  box-shadow: 0rem 2.4rem 4.8rem 0rem #00000013;
  width: 33.6rem;
  height: 50.6rem;
  opacity: 1;
  gap: 0.2rem;
  border-radius: 1.1rem;
  background-color: var(--button-text-or-fon-color);
}
.first_cart:nth-child(3) {
  box-shadow: 0rem 2.4rem 4.8rem 0rem #00000013;
  width: 33.6rem;
  height: 50.6rem;
  opacity: 1;
  gap: 0.2rem;
  border-radius: 1.1rem;
  background-color: var(--button-text-or-fon-color);
}
.first_cart:hover {
  transform: scale(105%);
  transition: 0.3s;
}
.photo_sec3_1 {
  width: 33.6rem;
  height: 22.4rem;
  opacity: 1;
  border-top-left-radius: 1.1rem;
  border-top-right-radius: 1.1rem;
}
.characteristics {
  width: 24rem;
  height: 13.2rem;
  opacity: 1;
  padding-top: 2rem;
  gap: 2rem;
}
.zel {
  width: 12.9rem;
  height: 2rem;
  opacity: 1;
  padding-top: 0.4rem;
  padding-right: 0.8rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
  margin-top: 3rem;
  margin-left: 3rem;
  border-radius: 10rem;
  background-color: var(--green-oval);
}
.green {
  width: 113;
  height: 12;
  opacity: 1;
  font-family: Rubik;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}
.name_recept {
  width: 240;
  height: 24;
  opacity: 1;
  font-family: Rubik;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: 0%;
  margin-left: 3rem;
  margin-top: 1.2rem;
  vertical-align: middle;
}
.characteristics {
  width: 24rem;
  height: 13.2rem;
  opacity: 1;
  padding-top: 2rem;
  gap: 2rem;
  margin-left: 3rem;
  margin-top: 1.2rem;
}
.sec3_icon {
  width: 2.4rem;
  height: 2.4rem;
  opacity: 1;
}
.bold_text_recept {
  font-family: Rubik;
  font-weight: 700;
  font-style: Medium;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--gray-info);
}
.tetx_recept {
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: 0%;
  vertical-align: middle;
}
.punkt_recept1 {
  width: 24rem;
  height: 2.4rem;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 1.6rem;
  margin-top: 1rem;
}
.zel2 {
  width: 8.8rem;
  height: 2rem;
  opacity: 1;
  padding-top: 0.4rem;
  padding-right: 0.8rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
  margin-top: 3rem;
  margin-left: 3rem;
  border-radius: 10rem;
  background-color: var(--green-oval2);
}
.yellow {
  width: 5.9rem;
  height: 2rem;
  opacity: 1;
  padding-top: 0.4rem;
  padding-right: 0.8rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
  margin-top: 3rem;
  margin-left: 0.5rem;
  border-radius: 10rem;
  background-color: var(--yellow-oval);
}
.ovals {
  display: flex;
  flex-direction: row;
}
.name_zag {
  width: 33.6rem;
  height: 7.2rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 700;
  font-style: Bold;
  font-size: 3rem;
  line-height: 3.6rem;
  letter-spacing: -0.5px;
  vertical-align: middle;
  color: var(--black-h);
}

.spisok {
  width: 33.6rem;
  height: 39.8rem;
  opacity: 1;
  gap: 1.6rem;
}

.diets_li {
  width: 24.1rem;
  height: 2.2rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0%;
  margin-top: 2.5rem;
  margin-left: 0.5rem;
  vertical-align: middle;
  color: var(--gray-info);
  list-style: none;
}
.marker {
  margin-right: 2rem;
  margin-bottom: -1rem;
}
.Gold_href {
  width: 24rem;
  height: 1.8rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: 0%;
  margin-left: 80rem;
  text-align: center;
  vertical-align: middle;
  color: var(--button-color);
}
.gold_herf1 {
  width: 120rem;
  height: 2.1rem;
  max-width: 120rem;
  top: 88.3rem;
  left: 12rem;
  opacity: 1;
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  margin-top: 10rem;
}
.Gold_href:hover {
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}
.reviews {
  width: 192rem;
  height: 117rem;
  top: 357.2rem;
  opacity: 1;
  background-color: var(--sec1-fon);
  display: grid;
  grid-template-columns: 50% 50%;
}
.text_color_orange4 {
  height: 0.1rem;
  font-family: rubik;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.07rem;
  margin-top: 10rem;
  margin-left: 10rem;
  vertical-align: middle;
  color: var(--text-color-orange);
}
.h2_request4 {
  width: 86.4rem;
  height: 5.6rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 700;
  font-style: Bold;
  font-size: 4.4rem;
  line-height: 5.28rem;
  letter-spacing: -0.05rem;
  vertical-align: middle;
  margin-top: 2rem;
  margin-left: 10rem;
  color: var(--black-h);
}
.otzivi {
  width: 105.6rem;
  height: 98.4rem;
  opacity: 1;
  gap: 1.5rem;
  padding: 9.6rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.otizv1 {
  width: 39.2rem;
  height: 27.2rem;
  opacity: 1;
  gap: 1.3rem;
  padding-bottom: 6.4rem;
}
.big_avatar {
  width: 6.4rem;
  height: 6.4rem;
  opacity: 1;
  border-radius: 3.2rem;
}
.otziv_text {
  width: 39.2rem;
  height: 9.8rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.24rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--gray-info);
}
.otziv_name1 {
  width: 39.2rem;
  height: 1.6rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 5rem;
  color: var(--otziv-name);
}
.otziv_name2 {
  width: 39.2rem;
  height: 1.6rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 9rem;
  color: var(--otziv-name);
}
.otziv_name3 {
  width: 39.2rem;
  height: 1.6rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 7rem;
  color: var(--otziv-name);
}
.fotki {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 25% 25% 25%;
  width: 86.4rem;
  height: 114.6rem;
  opacity: 1;
  margin-left: 5rem;
}
.photo_sec4 {
  margin-top: 1.5rem;
  margin-left: 2rem;
  width: 26.6rem;
  height: 26.6rem;
  opacity: 1;
  transition: 0.2s;
  border-radius: 60px;
}
.photo_sec4:hover {
transform: scale(130%);
overflow: hidden;
transition: 0.6s;

}
.sec5 {
  width: 192rem;
  height: 151.6rem;
  top: 471.8rem;
  opacity: 1;
}
.text_color_orange5 {
  height: 1.6rem;
  font-family: rubik;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.07rem;
  margin-top: 10rem;
  margin-left: 46rem;
  vertical-align: middle;
  color: var(--text-color-orange);
}
.h2_request5 {
  width: 86.4rem;
  height: 10.6rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 700;
  font-style: Bold;
  font-size: 4.4rem;
  line-height: 5.28rem;
  letter-spacing: -0.05rem;
  vertical-align: middle;
  margin-top: 5rem;
  margin-left: 45rem;
  color: var(--black-h);
}
.podpiski {
  width: 120rem;
  height: 62.6rem;
  max-width: 120rem;
  margin-top: 3.6rem;
  margin-left: 36rem;
  opacity: 1;
  gap: 6.4rem;
  padding-right: 16.6rem;
  padding-left: 16.6rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  vertical-align: middle;
}
.podpiska1 {
  width: 40.2rem;
  height: 62.6rem;
  opacity: 1;
  gap: 4.8rem;
  padding: 4.6rem;
  border-radius: 1.1rem;
  border-width: 0.2rem;
  border-radius: 2rem;
  border: 1px solid var(--persik-color);
}
.class {
  width: 9rem;
  height: 2rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  margin-left: 11rem;
  color: var(--text-color-orange);
}
.class2 {
  width: 9rem;
  height: 2rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  margin-left: 11rem;
  margin-top: 0rem;
  color: var(--text-color-orange);
}
.price_text {
  width: 15.9rem;
  height: 6.2rem;
  margin-left: 6rem;
  margin-top: 5rem;
  font-family: Rubik;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 6.2rem;
  line-height: 6.2rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  opacity: 1;
}
.valuta {
  width: 2.1rem;
  height: 3rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 500;
  font-style: Medium;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.in_week {
  width: 29.6rem;
  height: 5.2rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-top: 1rem;
  color: var(--otziv-name);
}
.sec5_li {
  width: 34.1rem;
  height: 2.2rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.5rem;
  line-height: 2.1rem;
  letter-spacing: 0%;
  margin-top: 2.5rem;
  vertical-align: middle;
  color: var(--gray-info);
  list-style: none;
  gap: 1.6rem;
}
.spisok {
  width: 30.6rem;
  height: 18.1rem;
  opacity: 1;
  gap: 1.6rem;
}
.button_sec5 {
  width: 30.6rem;
  height: 7.2rem;
  opacity: 1;
  padding-top: 1.6rem;
  padding-right: 5.3rem;
  padding-bottom: 1.6rem;
  padding-left: 5.35rem;
  margin-top: 5rem;
  border-radius: 0.9rem;
  font-family: Rubik;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--button-text-or-fon-color);
  background-color: var(--button-color);
  border: none;
}
.podpiska2 {
  width: 40.2rem;
  height: 62.6rem;
  opacity: 1;
  gap: 4.8rem;
  padding: 4.6rem;
  margin-top: 0.1rem;
  border-radius: 1.1rem;
  border-width: 0.2rem;
  border-radius: 2rem;
  background-color: var(--persik-color);
  overflow: hidden;
}

.poisnenie_sec5 {
  width: 110rem;
  height: 2.6rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--gray-info);
  margin-top: 5rem;
  margin-left: 40rem;
}
.preimushestva {
  width: 120rem;
  height: 35rem;
  max-width: 120rem;
  margin-top: 10.7rem;
  margin-left: 36rem;
  opacity: 1;
  gap: 6.4rem;
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  display: flex;
  flex-direction: row;
}
.preim {
  width: 23.6rem;
  height: 35rem;
  opacity: 1;
}
.icon_sec5 {
  width: 9.4rem;
  height: 9.4rem;
  opacity: 1;
  border-radius: 3.2rem;
  padding: 1.6rem;
  margin-left: -2rem;
}
.rek_sec5 {
  width: 23.6rem;
  height: 4.8rem;
  margin-top: 1.8rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 700;
  font-style: Bold;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--black-h);
}
.rek_sec5_m {
  width: 22.9rem;
  height: 13rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.24rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--gray-info);
  margin-top: 5rem;
}
.sec6 {
  width: 192rem;
  height: 151.6rem;
  opacity: 1;
  top: 471.8rem;
  display: flex;
  flex-direction: row;
}
.firs_lanch_free {
  width: 113.6rem;
  height: 58.4rem;
  border-top-left-radius: 1.1rem;
  border-bottom-left-radius: 1.1rem;
  opacity: 1;
  margin-top: 40rem;
  margin-left: 39.2rem;
  background-image: linear-gradient(135deg, #eb984e 0%, #e67e22 100%);
}
.h2_request6 {
  width: 62.9rem;
  height: 10.6rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 700;
  font-style: Bold;
  font-size: 4.4rem;
  line-height: 5.28rem;
  letter-spacing: -0.05rem;
  vertical-align: middle;
  padding-left: 5rem;
  padding-top: 5rem;
  color: var(--sec6-text);
}
.text_sec6 {
  width: 62.9rem;
  height: 9.8rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.24rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--sec6-text);
  padding-left: 5rem;
  padding-top: 10rem;
}
.validation {
  width: 62.9rem;
  height: 20.6rem;
  opacity: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-top: 15rem;
  margin-left: 5rem;
}
.input {
  width: 29.8rem;
  height: 7.4rem;
  opacity: 1;
  gap: 1.2rem;
}
.input_name {
  width: 29.8rem;
  height: 1.6rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 600;
  font-style: Medium;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--sec6-text);
}
input {
  width: 29.8rem;
  height: 4.6rem;
  opacity: 1;
  border-radius: 0.9rem;
  background-color: var(--circle-big);
  color: var(--sec6-text);
  border: none;
  margin-top: 2rem;
  box-shadow: 0rem 0.1rem 0.2rem 0rem #0000001a;
  font-size: 2.4rem;
  padding-left: 1.5rem;
}

.but_sec6 {
  width: 29.9rem;
  height: 4.8rem;
  opacity: 1;
  margin-top: 3.5rem;
  border-radius: 0.9rem;
  padding-top: 1.2rem;
  padding-right: 9.5rem;
  padding-bottom: 1.2rem;
  padding-left: 9.5rem;
  background-color: var(--sec6-text);
  border: none;
  color: var(--button-text-or-fon-color);
  font-family: Rubik;
  font-weight: 500;
  font-style: SemiBold;
  font-size: 1.9rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.eating {
  width: 38.8rem;
  height: 58.4rem;
  opacity: 1;
  margin-top: 40rem;
  border-top-right-radius: 1.1rem;
  border-bottom-right-radius: 1.1rem;
}
.sec6_right {
  margin-right: 30rem;
  margin-left: -1rem;
}
footer {
  width: 192rem;
  height: 46.7rem;
  opacity: 1;
  padding-top: 12.8rem;
  padding-right: 36rem;
  padding-bottom: 12.7rem;
  padding-left: 36rem;
  border-top-width: 0.1rem;
  border-top: 1px solid #eeeeee;
  margin-top: -20rem;
}
.info_footer {
  width: 120rem;
  height: 21.1rem;
  max-width: 120rem;
  opacity: 1;
  gap: 6.4rem;
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  display: flex;
  flex-direction: row;
}
.info_small{
  display: flex;
  flex-direction: column;
}
.logo_footer{
  width: 21.3rem;
  height: 3rem;
  opacity: 1;
  padding-bottom: 0.2rem;
}
.soc_seti{
  width: 21.3rem;
  height: 2.8rem;
  opacity: 1;
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  margin-top: 3rem;
}
.cos{
  width: 2.4rem;
  height: 2.8rem;
  opacity: 1;
}
.text_footer{
  width: 21.3rem;
  height: 12.6rem;
  min-height: 6.7rem;
  opacity: 1;
  padding-top: 5.9rem;
  margin-top: 5rem;
  margin-left: -15rem;
}
.t_f{
  width: 21.3rem;
  height: 6.8rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color:var(--text_footer);
}
.big_t_footer{
  width: 21.3rem;
  height: 1.8rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 500;
  font-style: Medium;
  font-size: 2rem;
  line-height: 1.8rem;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: -4rem;
  color:var(--gray-info);
}
.t_f2{
  width: 21.3rem;
  height: 5.2rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  line-height: 2.56rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color:var(--gray-info);
  margin-left: 15rem;
  margin-bottom: 2rem;
}
.t_f3{
  width: 21.3rem;
  height: 5.2rem;
  opacity: 1;
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  line-height: 2.56rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color:var(--gray-info);
  margin-left: 15rem;
}