:root {
    --accent: #e67e22;
    --dark_accent: #cf711f;
    --bright_background: #FDF2E9;
    --first_text: #333;
    --second_text: #555;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Rubik;
    line-height: 1;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}



header {
    height: 80px;
    background-color: var(--white);
    box-shadow: 0px 0px 10px black;
}

.logo {
    display: inline-flex;
    height: 20px;
    margin: 25px 0px 0px 20px;
}

.nav-container {
    display: inline-flex;
    font-size: 18px;
    color: var(--first_text);
    gap: 40px;
    margin-left: 1080px;
}

.try {
    margin-top: -10px;
    font-size: 18px;
    height: 40px;
    width: 150px;
    color: var(--white);
    background-color: var(--accent);
    border: none;
    border-radius: 10px;

}

.try:hover {
    cursor: pointer;
    background-color: var(--dark_accent);
}



.hero {
    display: flex;
    color: var(--first_text);
    background-color: var(--bright_background);
    height: 720px;
    width: 100vw;
}
.left{
    height: auto;
    flex: 1;
    width: 50%;
    margin: 40px 0px 0px 0px;
   
}
.slogan {
    display: flexbox;
    margin: 40px 0px 20px 380px;
    font-weight: bold;
    font-size: 48px;
    height: 219px;
    width: 540px;
}

.under_text {
    display: flexbox;
    margin: 0px 0px 40px 380px;
    color: var(--second_text);
    font: 20px;
    font-weight: 400px;
    width: 460px;
    line-height: 1.6;
}

.eat {
    display: inline-flex;
    margin: 0px 0px 20px 380px;
    color: var(--white);
    background-color: var(--accent);
    height: 40px;
    width: 280px;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
}

.eat:hover {
    cursor: pointer;
    background-color: var(--dark_accent);  
}

.more {
    display: inline-flex;
    margin: 0px 0px 40px 20px;
    color: var(--first_text);
    background-color: var(--white);
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    transition: transform 1.5s;
    font-weight: bold;
    font-size: 14px;
}

.more:hover {
    cursor: pointer;
    transform: scale(1.1); 
}

.avatars {
    display: inline-flex;
    margin: 0px 0px 40px 400px;
}

.first_img, .second_img, .third_img, .fourth_img, .fifth_img, .sixth_img {
    height: 52px;
    width: 52px;
    border: 3px solid var(--bright_background);
    border-radius: 24px;
    margin-left: -20px;
}

.deliveries {
    color: var(--first_text);
    margin: 20px 0px 40px 20px;
}

.orange {
    color: var(--accent);
}
.right{
    display: flex;
    flex: -1;
    width: 50%;
    flex-direction: column;
    align-content: space-between;
}
.coll{
    margin: 80px 0px 40px 70px;
    height: 480px;
    
}
a{
    text-decoration: none;
    color: var(--first_text);
}
.zagol{
     display: flexbox;
    margin: 5px 0px 20px 380px;
    font-weight: bold;
    font-size: 44px;
    height: 150px;
    width: 100%;
}
.how__work{
     display: flexbox;
    margin: 90px 0px 0px 382px;
    font-size: 20px;
    width: 100%;
    color: var(--dark_accent);
}

.zag_1{
    display: flexbox;
    margin: 5px 0px 20px 380px;
    font-weight: bold;
    font-size: 20px;
    width: 20%;
     line-height: 1.4;
}
.text_1{
    display: flexbox;
    margin: 5px 0px 20px 380px;
    font-size: 15px;
    width: 25%;
    line-height: 1.6;
}
.first_01{
    display: flexbox;
    margin: 5px 0px 20px 380px;
    font-size: 60px;
    width: 25%;
    opacity: 25%;
    font-weight: bold;
}
.fotka_1{
     display: flex;
  height: 379px;
  z-index: 2;
}
.sircle_1{
    display: flexbox;
    position: absolute;
 margin: 35px 0px 0px -48px;
  background-color: var(--accent);
  width: 270px;
  height: 270px;
    border-radius: 100%;
    opacity: 0.2;
    z-index: 0;
}
.foto_1{
display: flex;
  margin: -310px 20px 20px 1220px;
}
.sircle_2{
     display: flexbox;
    position: absolute;
 margin: 60px 0px 0px -21px;
  background-color: var(--accent);
  width: 220px;
  height: 220px;
    border-radius: 100%;
    opacity: 0.2;
    z-index: 1;
}
.platform_2{
    display: flexbox;
    margin: 60px 0px 0px 716px;
}
.foto_2{
    display: flex;
  margin: -370px 20px 20px 520px;
}
.text_2{
    display: flexbox;
    margin: 5px 0px 20px 380px;
    font-size: 15px;
    width: 37%;
    line-height: 1.6;
}
.fotka_2{
     display: flex;
  height: 379px;
  
  z-index: 2;
}
.platform_3{
    display: flexbox;
    margin: 100px 0px 0px 0px;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    height: 96px;
}
.logop{
    height: 40px;
    padding: 0px 30px 0px 30px;
    opacity: 0.5;
}
.logostext{
    color: #888;
    font-weight: bold;
    letter-spacing: 2;
}
.logosbox{
    display: flexbox;
    text-align: center;
    padding: 50px;
}
.obsh{
    display: flex;
  margin: -270px 20px 20px 1220px;
}
.zad_3{
    display: flexbox;
    margin: 100px 0px 20px 360px;
width: 1200px;
height: 137.3px;
max-width: 1200px;

opacity: 1;
padding-right: 32px;
padding-left: 32px;

}
.priem_pish{
    display: flexbox;
font-weight: 500;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.75px;
text-align: center;
text-transform: uppercase;
color: var(--dark_accent);

}
.sistem_om{
    display: flexbox;
font-weight: 700;
font-size: 44px;
line-height: 52.8px;
letter-spacing: -0.5px;
text-align: center;
}
.kartinki{
    display: flex;
    margin: 111px 0px 0px -220px;
    width: 1200px;
height: 567.16px;
max-width: 1200px;
top: 329.59px;
left: 360px;
opacity: 1;
padding-right: 32px;
padding-left: 32px;
gap: 64px;

}

.kartinka_1{
    display: flexbox;
    margin: 0px 0px 0px 365px;
    width: 336px;
height: 506px;

opacity: 1;
gap: 2px;
border-radius: 11px;
box-shadow: 0px 24px 48px 0px #00000013;

}
.kartinka_2{
     display: flexbox;
    margin: -446px 0px 0px 360px;
    width: 336px;
height: 506px;

opacity: 1;
gap: 2px;
border-radius: 11px;
box-shadow: 0px 24px 48px 0px #00000013;
}
.japan{
    width: 336px;
height: 224.1px;
opacity: 1;
border-radius: 13px 13px 0px 0px;
}
.under_text_1{
    width: 336px;
height: 280px;
opacity: 1;
padding: 32px 48px 48px 48px;
gap: 12px;

}
.veggy{
    display: flex;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    background-color: #51cf66;
    height: 20px;
    width: 129px;
    border: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
}
.veggy_2{
    display: flex;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    background-color: #51cf66;
    height: 20px;
    width: 88px;
    border: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
}
.paleo{
    display: flex;
    font-weight: bold;
    margin: -20px 0px 0px 95px;
    background-color: #FFD43B;
    height: 20px;
    width: 59px;
    border: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
}
.gnezda{
    width: 240px;
height: 24px;
opacity: 1;
font-weight: 600;
font-size: 24px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
margin: 10px 0px 0px 0px;

}
.block_spis{
    display: flex;
    width: 240px;
height: 132px;
opacity: 1;
padding-top: 20px;
gap: 20px;

}
.kall{
    display: flexbox;
    margin: -1px 0px 0px -202px;
    width: 240px;
height: 24px;
opacity: 1;
gap: 16px;
font-size: 16px;
line-height: 18px;
letter-spacing: 0%;
color: #555555;

}
.ogon{
    display: flexbox;
    width: 24px;
height: 24px;
opacity: 1;
margin: -12px 0px 0px -9px;
}
.ogonek{
    height: 34px;
   
}
.element_1{
    display: flex;
    height: 20px;
    margin: 15px 0px 0px -5px;
}
.element_2{
    display: flex;
    height: 20px;
    margin: 60px 0px 0px -334px;
}
.element_3{
    display: flex;
    height: 20px;
    margin: 105px 0px 0px -334px;
}
.zhir{
    display: flexbox;
    margin: 0px 0px 0px 20px;
    width: 240px;
height: 24px;
opacity: 1;
gap: 16px;
font-weight: bold;
font-size: 16px;
line-height: 18px;
letter-spacing: 0%;
color: #555555;
}
.zhir_2{
    display: flexbox;
    margin: 0px 0px 0px 8px;
    width: 240px;
height: 24px;
opacity: 1;
gap: 16px;
font-weight: bold;
font-size: 16px;
line-height: 18px;
letter-spacing: 0%;
color: #555555;
}
.zhir_3{
    display: flexbox;
    margin: 0px 0px 0px 10px;
    width: 240px;
height: 24px;
opacity: 1;
gap: 16px;
font-weight: bold;
font-size: 16px;
line-height: 18px;
letter-spacing: 0%;
color: #555555;
}
.vil{
    display: flexbox;
    width: 24px;
height: 24px;
opacity: 1;
margin: -6px 0px 0px 4px;
}
.vilka{
    
    height: 26px;
}
.zvezda{
    height: 26px;
}
.star{
     display: flexbox;
    width: 24px;
height: 24px;
opacity: 1;
margin: -9px 0px 0px 2px;
}
.right_spis{
    display: flex;
   margin: -505px 0px 0px 790px;
    width: 334px;
height: 606.1px;

opacity: 1;
gap: 32px;

}
.head_spis{
    display: flex;
font-weight: 700;
font-style: Bold;
font-size: 30px;
line-height: 36px;
letter-spacing: -0.5px;
vertical-align: middle;

}
.spissok{
    display: flex;
    margin:95px 0px 0px -444px;
}
.spissok li{
    display: flex;
    flex-direction: row;
    gap: 19px;
    width: 336px;
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0%;
    color: #555555;
}
.niz{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    width: 100%;
}
.pox{
    color: #E67E22;
}
